body {
    background-color: azure;
}
#navRow {
    background-color: rgb(255, 169, 184);
    margin-bottom: 9px;
    text-align: center;
    border-bottom: rgba(211, 211, 211, 0.877) solid 3px;
}

.my-col {
    background-color: rgba(255, 255, 255, 0.952);
    padding:10px;
    border: 3px dashed rgb(255, 169, 184);
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder
}

.nav-col {
    background-color: rgba(255, 255, 255, 0.952);
    padding:10px;
    border: 3px dashed rgb(255, 169, 184);
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder
}

#bodybox {
    margin-top: 10px;
}

.treyrow {

    margin-top: 10px;
    /* background-color: black;
    border-top: red solid 5px; */
}

.freyrow {
    /* padding: 20px;
    padding-bottom: 40px; */
    margin-top: 10px;

}


