body {
    background-color: azure;
    background-image: url(scaryPic.jpg);
}
#navRow {
    background-color:rgb(167, 105, 167);
    margin-bottom: 9px;
    text-align: center;
    border-bottom: rgba(3, 3, 3, 0.877) solid 3px;
}

.my-col {
    background-color: rgba(255, 255, 255, 0.952);
    padding:10px;
    border: 3px dashed rgb(248, 101, 4);
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder
}

.nav-col {
    background-color: rgba(255, 255, 255, 0.952);
    padding:10px;
    border: 3px dashed rgb(248, 101, 4);
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}

img {
    margin: 10px 20px 10px 10px;
    border: 2px rgb(248, 101, 4) solid;
}
p{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

#bodybox {
   
    margin-top: 10px;
}

.treyrow {

    margin-top: 10px;
    /* background-color: black;
    border-top: red solid 5px; */
}

.freyrow {
    /* padding: 20px;
    padding-bottom: 40px; */
    margin-top: 10px;

}



